.authentication li{ padding-left:15px; background:#fff; border-bottom:1px solid #f0f0f0; }
.authentication li.title label{ font-size:16px; color:#606060; }
.authentication li:last-child{ border-bottom:none; }
.authentication li a{ position:relative; display:block; padding:14px 32px 14px 0; font-size:14px; color:#606060; line-height:20px; }
.authentication li a label{ display:inline-block; width:90px; font-size:14px; color:#A2A2A2; }
.authentication li a p{ float:right; margin-top:2px; color:#A2A2A2; font-size:12px; line-height:17px; }
.authentication .title a p{ float:none; display:inline-block; }
.authentication li a span{ padding-left:6px; color:#A2A2A2; font-size:12px; line-height:17px; }
.authentication li i{ position:absolute; right:10px; top:50%; margin-top:-11px; width:22px; height:22px; background:url(../../imgs/b/arrowIcon.png); background-size:100% 100%; }
.authentication li input{ width:66%; border:none; color:#A2A2A2; }
.authentication .uploadLi input{ position:absolute; right:0; top:0; height:48px; width:100%; opacity:0; z-index:2 }

.certifiBtn{ position:fixed; bottom:15px; left:0; right:0; }
