*{ margin: 0; padding:0; list-style: none; font-family:sans-serif; font-size: .98em;}
body,html{ max-width: 740px; margin: 0 auto;}
.hide{ display: none;}
img{ display: block; vertical-align: bottom;}


.p6Box{ background: url("../imgs/p6Bg2.png") 0 0 repeat-y; background-size: 100% 100%; display: block; min-height: 470px;}
.p6Box dl{}
.p6Box dt,.p6Box dd{ clear: both; overflow: hidden; padding: 5px 0;}
.p6Box dt label,.p6Box dd label{ display: inline-block; width: 26%; text-align: left; padding-left: 8%; color: #955a36;
vertical-align: top; line-height: 32px;}
.p6Box dt input,.p6Box dt textarea{ width: 50%; display: inline-block; border: 1px solid #955a36; background: none; padding: 6px; 
line-height: 18px; color: #5c3c29;}
.p6Box dt img{ display: inline-block; width: 4.9%; vertical-align: top; margin: 7px 0 0 4px;}
.p6Box dd{ padding-top: 12px;}
.p6Box dd a{ width: 50%; display: inline-block; border: none; background: #f47e00; padding: 10px 6px; 
line-height: 20px; color: #fff; font-size: 1.2rem; border-radius: 14px; text-align: center;}
.p6Box dd label{ font-size: 1.1rem; font-weight: bold; line-height: 38px;}
.p6Box dd span{ padding-right: 4px;}
.p6Box dd em{ font-style: normal;}

.msg{ text-align: center; position: fixed; left: 0; top: 40%; z-index: 200; width: 100%; display: none;}
.msg span{ display: inline-block; padding: 6px 12px; background: rgba(0,0,0,.6); color: #fff; margin: 0 auto;
 border-radius: 6px;}

.p6Box dt img.reduce{ display: none;}
.tip{  clear: both; padding:20px; color: #c7a78f; font-size: .9rem; text-align: center;}
.tip p{color: #f47e00;font-size: 1.1em;font-weight: bold;line-height: 1.5;}
.tip span{ font-size: 1.2rem;}

.pMsg{ display: block; padding-left: 34%; font-size: 12px; color: #c2875e; width: 60%;margin-top: 2px;}
@media screen and (max-width: 360px) and (min-width: 340px){
    .pMsg{padding-left: 33%;}
}
@media screen and (max-width: 339px){
    .pMsg{padding-left: 31%;width: 64%;}
}
/*支付成功弹框*/
.payOk{position: fixed; left: 0; width: 100%; z-index: 111; top: 0; height: 100%; background: rgba(0,0,0,.4);display: none; }
.payOk .showOk{ width: 80%; margin: 40vh auto 0;}
.payOk .delShow{position: absolute;top: 35vh;right: 4%;width: 13%;}

.codeBk{width: 100%;height: 100%;background: rgba(0,0,0,.6);position: absolute;top: 0;left: 0;display: none;}
.codeOuter{display: none; position: absolute;top: 20%;left: 50%; background: #fff;width: 300px;height: 370px; margin-left: -150px;border-radius: 5px;}
.qrcode{margin: 0 auto;display: block;width: 200px;height: 200px;margin-top: 30px;}
.qrcode img{width: 100%;height: 100%;}
.codeOuter p{ margin-top: 10px;color: #955a36;line-height: 1.6;text-align: center;}
.codeOuter span{display: block;width: 80%;margin: 0 auto;font-size: 12px;color: #f54b4b;margin-top: 5px; padding-top: 5px;border-top: 1px solid #d7e3eb;line-height: 1.6}
#loding{width: 10%; margin: 100px auto 0;}

.hideBody{overflow: hidden; height: 100%;}